In [1]:
2

2

In [4]:
print("anas")

anas

In [5]:
print(1,2,3)

1 2 3

In [8]:
print('bramhastra',2022)

bramhastra 2022

In [9]:
print("this is line")
print("another line")
print("and the final text line")

this is line
another line
and the final text line

In [10]:
b=20
c=50
print(b,c)

20 50

In [11]:
city="lucknow"
state="uttar pradesh"
name="adam"
name="random"

In [13]:
food=input()

In [14]:
a="apple"
type(a)

str

In [15]:
a=101
type(a)

int

In [20]:
a="300"
print(a,type(a))

300 <class 'str'>

In [18]:
b=int(a)
print(b,type(b))
print(a,type(a))

300 <class 'int'>
300 <class 'str'>

In [22]:
a=input("anter A=")
b=input("enter B=")
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)

<class 'str'> <class 'str'>
4

In [23]:
 num1=int(input("enter num"))
 num2=int(input("enter num2"))
 ans=num1*num2
 print(ans)

12

In [2]:
# operators

In [4]:
X=10
Y=3

In [5]:
X+Y

13

In [6]:
X-Y

7

In [7]:
X*Y

30

In [8]:
X/Y

3.3333333333333335

In [9]:
X//Y

3

In [10]:
X%Y

1

In [11]:
X**Y

1000

In [12]:
X+=10
X+=5
X-=10
X*=3

In [13]:
Z+5=

SyntaxError: cannot assign to operator (3301529381.py, line 1)

In [17]:
X>10

True

In [19]:
X>5 and X>100

False

In [20]:
X>5 or X>1

True

In [22]:
X=10
not X>100

True

In [23]:
X is Y

False

In [24]:
X is not Y

True

In [25]:
a=[1,3,8,10,2]

In [26]:
2 in a

True

In [27]:
15 in a

False

In [28]:
# FORMATTED STRING AND MSG

## FORMATTED STRING AND MSG

l = 10.5
b = 6.10
area = 1*b
print(l,b,area)

In [31]:
l=10.5
b=6.10
area=l*b
print(f"{l} * {b}  = {area}")
print(f"{l} * {b}  =

10.5 * 6.1  = 64.05