In [1]:
emp =['Amar','deep','finance',2300,10000,30000,31,True,False,'Acme']

In [2]:
emp_dict = {
    'fname':'Amar',
    'lname':'deep',
    'dept':'finance',
    'age':'31',
    'salary':'10000',
    'bonus':'30000',
    'is_manager':'True',
    'is_executive':'False',
    'company':'acme'}

In [3]:
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': '31', 'salary': '10000', 'bonus': '30000', 'is_manager': 'True', 'is_executive': 'False', 'company': 'acme'}

In [4]:
weather_data ={
    'data':'2019-01-01',
    'temp':32,
    'details':{
        'humidity':80,
        'wind':10,
        'pressuer':30,
        'aqi':120
    },
    'city':'lucknow',
    'type':'sunshine',
    'icon':'ðŸ‘€ðŸ‘€'
}

In [5]:
weather_data.keys()

dict_keys(['data', 'temp', 'details', 'city', 'type', 'icon'])

In [6]:
weather_data.values()

dict_values(['2019-01-01', 32, {'humidity': 80, 'wind': 10, 'pressuer': 30, 'aqi': 120}, 'lucknow', 'sunshine', 'ðŸ‘€ðŸ‘€'])

In [7]:
emp_dict.keys()

dict_keys(['fname', 'lname', 'dept', 'age', 'salary', 'bonus', 'is_manager', 'is_executive', 'company'])

In [8]:
weather_data['temp']

32

In [9]:
weather_data['city']

'lucknow'

In [10]:
weather_data.get('temp')

32

In [11]:
weather_data.get('city','not found')

'lucknow'

In [12]:
weather_data.get('location','not found')

'not found'

In [13]:
# looping over a dictionary
for k in emp_dict:
    print(k,'=>',emp_dict[k])

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
company => acme

In [14]:
#looping over a dictionary using item()
for k,v in emp_dict.items():
    print(k,'=>',v)

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
bonus => 30000
is_manager => True
is_executive => False
company => acme

In [15]:
# updating an entry in dictionary
weather_data['temp'] =35

In [16]:
weather_data

{'data': '2019-01-01',
 'temp': 35,
 'details': {'humidity': 80, 'wind': 10, 'pressuer': 30, 'aqi': 120},
 'city': 'lucknow',
 'type': 'sunshine',
 'icon': 'ðŸ‘€ðŸ‘€'}

In [18]:
# adding data
emp_dict['desingation'] = 'Asst A'
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': '31', 'salary': '10000', 'bonus': '30000', 'is_manager': 'True', 'is_executive': 'False', 'company': 'acme', 'desingation': 'Asst A'}

In [19]:
emp_dict['desingation'] ='Section Manager'
emp_dict['salary'] = 30000
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': '31', 'salary': 30000, 'bonus': '30000', 'is_manager': 'True', 'is_executive': 'False', 'company': 'acme', 'desingation': 'Section Manager'}

In [20]:
if 'is_executive' in emp_dict:
    emp_dict.pop('is_executive') #remove an entry

In [21]:
emp_dict

{'fname': 'Amar',
 'lname': 'deep',
 'dept': 'finance',
 'age': '31',
 'salary': 30000,
 'bonus': '30000',
 'is_manager': 'True',
 'company': 'acme',
 'desingation': 'Section Manager'}

In [24]:
reports = {
    '001': {
        'name': 'Amar',
        'subject':{'English': 80,'Maths': 90,'Science': 95}
    },
    '002':{
        'name': 'Vijay',
        'Subject':{ 'English': 70, 'Maths':60,'Science': 85}
    },
    '003':{
        'name': 'raj',
        'Subject':{ 'English': 77, 'Maths':68,'Science': 86}
},
    }

In [35]:
for roll,data in reports.items():
    print('roll')
    for key,val in data.items():
        print(key)
        if isinstance(val ,dict):
            for sub,marks in val.items():
                print(sub,marks)
        else:
            print(key,val)
    print('_ _'*10)

roll
name
name Amar
subject
English 80
Maths 90
Science 95
_ __ __ __ __ __ __ __ __ __ _
roll
name
name Vijay
Subject
English 70
Maths 60
Science 85
_ __ __ __ __ __ __ __ __ __ _
roll
name
name raj
Subject
English 77
Maths 68
Science 86
_ __ __ __ __ __ __ __ __ __ _

In [ ]:
for roll,data in reports.items():
    print('roll')
    for key,val in data.items():
        if isinstance(val ,dict):
            print(key)
            total = 0
            percentage = 0
            for sub,marks in val.items():
                print(sub,marks)
                
        else:
            print(key,val)
print('_ _'*10)

In [36]:
f = open('hello.py')
print(f.read())

print("hello world")

In [37]:
f = open(r'C:\Users\Mohd Anas\Downloads\Document.txt')
content = f.read()
print(f'{len(content)} chracters')

10 chracters

In [38]:
data='hi everyone, this is a sample file'
with open('mydata.txt', 'w') as file:
    file.write(data)

In [40]:
data='\nthis is the new data is going to be written'
with open('mydata.txt', 'a') as file:
    file.write(data)

In [ ]:
file ='bio.txt'
content = ''

while True:
    line = input('Enter a line (or q to quit):')
    if line =='q':
        break
    content += line + '\n'

with open(file,'w') as f:
    f.write(content)